#Ignore Cahce files
writable/cache/*
!writable/cache/.gitkeep

# Ignore debugbar files
writable/debugbar/*
!writable/debugbar/.gitkeep

# Ignore logs files
writable/logs/*
!writable/logs/.gitkeep

# Ignore session files
writable/session/*
!writable/session/.gitkeep

# Ignore all uploads
writable/uploads/*
!writable/uploads/calon/
!writable/uploads/calon/.gitkeep
writable/uploads/user/
!writable/uploads/user/.gitkeep